@charset "UTF-8";
	
#body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: rgba(240,240,240,1.00);
}
#header {
	float: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	border: 1px solid rgba(167,0,2,1.00);
	background-color: rgba(255,255,255,1.00);
}
#footer {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: 1px solid rgba(192,0,3,1);
	bottom: 0px;
	background-color: rgba(255,255,255,1.00);
}
#main {
	border: 1px solid rgba(0,20,191,1);
	height: 900px;
	width: 960px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#info_basic {
	display: block;
	height: 230px;
	float: left;
	width: 650px;
	margin-left: 0px;
	margin-bottom: 0px;
	border: 1px dotted rgba(0,176,5,1);
	padding-top: 15px;
	padding-bottom: 15px;
	overflow:hidden;
	background-color: rgba(255,255,255,1.00);
}
#info_contact {
	display: block;
	height: 30px;
	float: left;
	width: 650px;;
	margin-left: 0px;
	margin-top: 0px;
	border: 1px dotted rgba(0,176,5,1);
	background-color: rgba(255,255,255,1.00);
	padding-top: 10px;
	padding-bottom: 10px;
}
#background_container {
	display: block;
	height: auto;
	float: left;
	width: 650px;;
	margin-left: 0px;
	margin-top: 15px;
	border: 1px dotted rgba(0,176,5,1);
	background-color: rgba(255,255,255,1.00);
}
#sidebar {
	display: block;
	float: right;
	width: 290px;
	border: 1px solid rgba(58,180,0,1);
	background-color: rgba(255,255,255,1.00);
}
#profile_pic {
	display: block;
	float: left;
	height: 200px;
	width: 200px;
	margin-right: 5px;
	margin-left: 0px;
	overflow:hidden;
}
#info_brief_container {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 200px;
	width: 440px;
	float: left;
}
#info_name_title_location {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 70px;
	width: 100%;
	text-align: left;
	line-height: 5px;
}
#info_jobs_container {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 440px;
	border: 1px solid rgba(158,80,190,1);
	overflow: hidden;
}
#info_exp_type {
	display: block;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 50px;
	width: 70px;
	border: 1px solid rgba(258,180,0,1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 14px;
	color: rgba(137,137,137,1.00);
}
#info_brief_jobs {
	display: block;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 360px;
	border: 1px solid rgba(58,180,0,1);
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 14px;
	color: rgba(0,0,0,1.00);
}

#info_contact_type {
	display: inline;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 70px;
	border: 1px solid rgba(258,180,0,1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 16px;
	color: rgba(137,137,137,1.00);
	
}

#info_contact_info {
	display: inline;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 200px;
	border: 1px solid rgba(58,80,250,1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 14px;
	color: rgba(0,0,0,1.00);
}

#info_contact_msg {
	display: inline;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	float: right;
	height: auto;
	width: 70px;
	border: 1px solid rgba(258,10,10,1);
	text-align: center;
	background-color: rgba(255,255,255,1.00);
}

#info_contact_msg:hover {
	background-color: rgba(206,206,206,1.00);
}

.background_type_container {
	display: block;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
	float: left;
	height: auto;
	width: 645px;
	border: 1px solid rgba(258,10,10,1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 18px;
}

.experience_details {
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 640px;
	border: 1px solid rgba(255,126,6,1.00);
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 14px;
	color: rgba(0,0,0,1.00);
}
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 36px;
}
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 18px;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal;
	font-size: 16px;
	color: rgba(137,137,137,1.00);
}
h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:bold;
	font-size: 12px;
	color: rgba(137,137,137,1.00);
}